/* épurer le stylesheet*/


/* Normalise / Sanitariser / Réinitialiser */

 body, h1, h2, h3, h4, h5, h6, p, ul, figure {
    padding: 0;
    margin: 0;
 }

 a {
    color: inherit;
    text-decoration: none;
 }

 a:hover {
    opacity: 0.8;
 }

 /* Cacher la barre de navigation de droite, celle du navigateur*/


body::-webkit-scrollbar {
  display: none;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 70px
}

.header ul {
   list-style: none;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   word-spacing: 10px;
}

.header ul li:last-child {
}